.event-detail-line {
    align-items: center;
    background: var(--color-primary-transparent);
    border-radius: var(--border-radius-sm);
    display: flex;
    gap: var(--spacing-sm);
    justify-content: flex-start;
    margin: calc(var(--spacing-xs)/2) 0;
    padding: 14px;
    transition: var(--transition-fast);
}

.event-detail-line:hover {
    background: rgba(255, 0, 255, 0.1);
    transform: translateX(5px);
}

.detail-label {
    color: var(--text-light);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: var(--spacing-xs);
    text-shadow: var(--neon-primary);
    text-transform: uppercase;
    min-width: 120px;  
    /* width: 105px;       */
    flex-shrink: 0;  
}

.detail-value {
    color: var(--text-light);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    text-shadow: 0 0 5px rgba(244, 238, 255, 0.7);
    flex: 1; 
}