/* Logo y efectos de texto */
.logo {
     height: auto;
     margin: var(--spacing-xs) auto;
     position: relative;
     text-align: center;
     user-select: none;
     width: 100%;
}

.logo b {
     color: var(--text-light);
     font: 400 1.8rem "Vibur";
     text-shadow: var(--neon-primary);
}

.logo b span {
     animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
     animation: blink linear infinite 3s;
}

@keyframes blink {
     78% {
          color: inherit;
          text-shadow: inherit;
     }

     79% {
          color: var(--color-blink-dark);
     }

     80% {
          text-shadow: none;
     }

     81% {
          color: inherit;
          text-shadow: inherit;
     }

     82% {
          color: var(--color-blink-dark);
          text-shadow: none;
     }

     83% {
          color: inherit;
          text-shadow: inherit;
     }

     92% {
          color: var(--color-blink-dark);
          text-shadow: none;
     }

     92.5% {
          color: inherit;
          text-shadow: inherit;
     }
}