.map-container {
     position: absolute;
     top: 0;
     bottom: 0;
     width: 100%;
 }
 
 /* Asegurarnos que el body y html tienen altura completa */
 html, body {
     margin: 0;
     padding: 0;
     height: 100%;
 }